/*
 * @file   src\pages\home\index.module.css
 * @author Ewerton
 * @date   2026-04-17
 * @desc   [Descrição da folha de estilos]
 */

.containerApresentacao {
    margin: 1rem auto;
    /* height: 28.5rem;  */
    width: 100%;
    max-width: 144rem;
    /* padding: 0 2rem 0 2rem;  */
    border: 0.4rem solid #B71C1C;
    border-radius: 2rem;
    /* overflow: hidden; */
    display: flex;
}

.imagemLocal {
    width: 50%;
    border-radius: 2rem;
    margin: 1rem;
}

.containerTxtApresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerApresentacao p {
    font-size: 2.4rem;
    margin: 1rem;
}


.tipos {
    color: #FAFAFA;
    background-color: #B71C1C;
    display: flex;
    justify-content: center;
    width: 100%;
    /* max-width: 112.8rem;    */
    border-radius: 2rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

.tipos .tpicon {
    font-size: 4rem;
    margin: 2rem 6rem;
    cursor: pointer;
}


/* .produtos {    
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    border-radius: 2rem;
    flex-wrap: wrap;
} */

.produtos {
    display: grid;
    /* Cria 3 colunas iguais. Muda para 1fr no mobile se desejar */
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    /* Espaçamento entre os cards */
    width: 100%;
    max-width: 1440px;
    margin: 2rem auto;
}

/* Classe para o Link não quebrar o layout */
.linkCard {
    text-decoration: none;
    color: inherit;
    display: flex;
    /* Garante que o link preencha a área do card */
    transition: transform 0.2s ease;
}

.linkCard:hover {
    transform: translateY(-5px);
    /* Efeito de levante no hover */
}

.loading {
    font-size: 2.4rem;
    color: #333;
    text-align: center;
    margin: 5rem;
}

/* Card */
.card {
    width: 30%;
    height: 26rem;
    /* border: 1px solid #ddd; */
    border-radius: 2rem;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* background-color: #fff; */
    margin-bottom: 1.6rem;
}

.card:hover {
    cursor: pointer;
}

.imagemContainer {
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 2rem;
    margin-bottom: 16px;
}

.imagemProduto {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.produtoNome {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    color: #333;
}

.produtoValor {
    font-size: 16px;
    font-weight: 500;
    margin: 8px 0 0;
    color: #888;
    text-align: center;
}

/* Ajuste de responsividade */
@media (max-width: 1024px) {
    .produtos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .produtos {
        grid-template-columns: 1fr;
    }
}