.container {
    display: flex;
    flex-direction: column;
    width: 70rem;
    /* align-items: center; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.search {
    display: flex;
    gap: 1rem;
}

.search input {
    padding: 0.8rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    width: 20rem;
}

.search select {
    padding: 0.8rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
}

.addButton {
    background-color: #B71C1C;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addButton:hover {
    background-color: #F05545;
}


.table {
    /* width: 0 auto; */
    border-collapse: collapse;
    /* margin-left: 1rem; */
    font-size: 1.6rem;
}

.table th {
    padding: 1rem;
    border: 0.3rem solid #B71C1C;
    text-align: center;
    background-color: #B71C1C;
    color: #fafafa;
}

.table td {
    padding: 1rem;
    border-bottom: 0.3rem solid #B71C1C;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    height: 0.1rem;
}

.table tr:hover td {
    background-color: #F05545;
}

.firstColumnFlex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Melhor alinhar à esquerda em tabelas */
    gap: 1rem;
    height: 100%;
    min-height: 5rem;
    /* Mesma altura da imagem */
}

.imgNomeProduto {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.ingredienteImg {
    width: 5rem;
    height: 5rem;
}

.destaqueImg {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem;
}