.container {
    display: flex;
    flex-direction: column;
    height: 65vh;
}

.cotainerVoltar {
    display: flex;
    flex-direction: column; 
    justify-content: end;
    align-items: end;
    height: 60vh;
}